@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Baskervville';
}


/* Screen 1 */
/* //--------------------// */
.s1 {
    background-image: url("../assets/bg_images/first_scr_bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    transition: 1s all;
}


.s1-frame1 {
    flex-shrink: 0;
    height: 82vh;
    width: 85vw;
    border: 5px solid #8D8282;
    position: absolute;
    top: 8%;
    left: 5%;
    z-index: -1;
}

.s1-frame2 {
    flex-shrink: 0;
    height: 82vh;
    width: 85vw;
    border: 5px solid #8D8282;
    position: absolute;
    top: 10%;
    left: 6%;
    z-index: -1;
}

.s1-data {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.s1-heading {
    color: #000;
    font-size: 48px;
    font-weight: 400;
    margin-block: 100px;
}

.s1-btn {
    color: #000;
    font-size: 40px;
    font-weight: 400;
    width: 410px;
    height: 76px;
    flex-shrink: 0;
    border-radius: 80px;
    border: 3px solid #8D8282;
    background: #FFF;
    box-shadow: 0px 15px 4px 2px #8D8282;
    cursor: pointer;
    opacity: 1;
    transition: .5s all;
}

.s1-btn:hover {
    background-color: #dededefe;
}

.overlay-Loading {
    /*---> Loading */
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 60px;
    border: 5px solid #8D8282;
    background: #FFF;
    width: 500px;
    height: 84px;
    flex-shrink: 0;
    z-index: -1;
    opacity: 0;
}

.loading-spans {
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    padding-top: 10px;
    padding-inline: 10px;
}

.loading-ball {
    height: 60px;
    width: 75px;
    flex-shrink: 0;
    border-radius: 87px;
    background-color: #8D8282;
    transition: width 2s ease-in-out;
}

.loading-text {
    color: #000;
    font-size: 42px;
    font-weight: 700;
    position: absolute;
    left: 35%;
    bottom: -150%;
}

@keyframes zoomInLoading {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes zoomOutLoading {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Screen - 2  */
/* ------------------- */
.s2{
    position: relative;
}

@keyframes s2-zoomIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1.5);
    }
}

@keyframes s2-zoomOut {
    0% {
        opacity: 1;
        transform: scale(1.5);
    }

    100% {
        opacity: 0;
        transform: scale(0);
    }
}

/* About */
.part2{
    opacity: 0;
    transition: transform 1s;
}
.border {
    border: 5px solid #8d8282;
    width: 90%;
    height: 84vh;
    position: absolute;
    top: 4%;
    left: 4%;
    right: 4%;
    bottom: 4%;
}

.border2 {
    border: 5px solid #8d8282;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: 10px;
    /* display: flex;
    flex-direction: column; */
}

.s2-about-title {
    color: #000;
    font-size: 66px;
    font-weight: 400;
    text-align: center;
}


.s2-carousel-cont{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.s2-carousel-slider {
    display: flex;
    overflow: hidden;
}

.s2-carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    display: none;
}

.s2-carousel-item.active-item {
    display: block;
    color: #000;
    font-size: 40px;
    font-weight: 400;
    margin-top: 50px;
}

.carousel-dots {
    text-align: center;
}

.dot1,
.dot2,
.dot3 {
    height: 30px;
    width: 30px;
    margin: 0 5px;
    margin-top: 20px;
    background-color: white;
    border: 2px solid #8D8282;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.active-dot {
    background-color: #8D8282;
}

.s2-btn {
    text-align: right;
    padding-bottom: 100px;
    margin: 1px;
    color: #000;
    font-size: 40px;
    font-weight: 400;
    cursor: pointer;
}



/* Screen 5 */
/* ----------------- */