body {
  font-family: Arial, sans-serif;
}

.carousel-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.carousel-slider {
  display: flex;
  overflow: hidden;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  display: none;
}

.carousel-item.active-item {
  display: block;
}

.carousel-item img {
  max-width: 100%;
}

.carousel-dots {
  text-align: center;
}

.dot1, .dot2, .dot3 {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.active-dot {
  background-color: #717171;
}
